<div>

  <div class="container">
    <h1>Cadastro de Notícias</h1>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Código</th>
              <th>Título</th>
              <th>Situação</th>
              <th>Duração</th>
              <th>Início</th>
              <th>Final</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let noticia of noticias">
              <td>{{noticia.numero}}</td>
              <td>{{noticia.titulo}}</td>
              <td>{{noticia.situacao}}</td>
              <td>{{noticia.duracaoSegundos}}</td>
              <td>{{noticia.inicio}}</td>
              <td>{{noticia.fim}}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary btn-redondo"
                  (click)="onRemover(noticia)"
                  title="Remover Notícia">
                  <fa-icon [icon]="iconExcluir"></fa-icon>
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-redondo"
                  (click)="onEdit(noticia)"
                  title="Editar Notícia">
                  <fa-icon [icon]="iconEditar"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="noticias.length < 1">
            <tr>
              <td colspan="7">Nenhuma notícia disponível</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-12 offset-md-10 buttons">
        <button type="button" class="btn btn-success" (click)="onNovo()">
          <fa-icon [icon]="iconNovo"></fa-icon> Novo
        </button>
      </div>
    </div>
  </div>

</div>
