
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!-- icone sistema -->
  <button class="icon">
    <fa-icon [icon]="faMegaphone"></fa-icon>
  </button>
  <span>Sistema Gestor de Paineis Digitais Indoor</span>
    <div class="spacer"></div>
   <!-- menu -->
  <div class="menu">
    <div class="dropdown">
      <button type="button" class="btn-menu" (click)="onClickMenu()">
        <fa-icon [icon]="faBars"></fa-icon>
        <span class="caret"></span>
      </button>
      <div class="dropdown-content" [ngClass]="{'dropdown-show-content':showMenu}">
        <a (click)="onClickNoticias()">Notícias</a>
        <a (click)="onClickSimulador()">Simulador</a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div>
  <router-outlet></router-outlet>
</div>
